@{
    ViewData["Title"] = "Home Page";
}

<script src="/js/site.js"></script>

<div class="container">

    <div class="welcomeToIQuest">
        <hr class="line"/>
        <span class="welcome">Welcome </span>
        <span class="to">to<br></span>
        <span class="iQuest">IQuest!</span>
        <span class="emoFingers">✌</span>
        <div class="btnStart" onclick="start (this)">
            <div>▶</div>
        </div>
        <hr class="line"/>
    </div>

</div>
