@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="welcomeToIQuest">
        <span class="welcome">Welcome</span>
        <span class="to">to<br></span>
        <span class="iQuest">IQuest</span>
        <span class="emoFingers">✌</span>
        <div id="btnStart" class="btnStart" onclick="start">
            <div>▶</div>
        </div>
    </div>

</div>
