@model Questions

@{
    ViewData["Title"] = "Tasks!";
}

<script>
     var data = @Html.Raw(Json.Serialize(Model));
</script>

<div class="container">
    <div class="questions-container"></div>
    <div class="popup hidden">
        <div class="popup-close">X</div>
        <div class="task-korpus"></div>
        <div class="task-text"></div>
        <div class="btnScan">
            <div>📷</div>
        </div>
    </div>
</div>

@section scripts {
     <script src="/js/game.js"></script>
}