@model Questions

@{
    ViewData["Title"] = "Tasks!";
}

<script>
     var data = @Html.Raw(Json.Serialize(Model));
</script>

<div class="container">
    <div class="questions-container">

    </div>
</div>

@section scripts {
     <script src="/js/game.js"></script>
}