@font-face {
    font-family: "emodjiOne color";
    src: url("/fonts/EmojiOneColor.otf");
}

body {
    background: #5bc8dc;
    background-image: url(../images/lamp.png);
    background-repeat: no-repeat;
    background-position: center;

    color: #fff;
    font-family: "Century Gothic";
    font-style: italic;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*START page + btnScan*/
.welcomeToIQuest {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding-top: 60px;
    padding-bottom: 75px;
    cursor: default;
}
.welcomeToIQuest .welcome {
    font-size: 69px;
}
.welcomeToIQuest .to {
    font-size: 54px;
}
.welcomeToIQuest .iQuest {
    font-weight: bold;
    font-size: 93px;
}
.welcomeToIQuest .emoFingers {
    font-family: "emodjiOne color";
    font-style: normal;
    font-size: 93px;
}

.btnStart,
.btnScan {
    width: 294px;
    height: 90px;
    background: #ffdd67;
    border-radius: 30px;
    box-shadow: 0.15em 0.15em 0.3em rgba(0, 0, 0, 0.35);
    cursor: pointer;
    display: block;
}
.btnStart div,
.btnScan div {
    font-family: "emodjiOne color";
    font-style: normal;
    font-size: 60px;
    text-align: center;
    line-height: 1.5;
    color: #fff;
}
.btnStart:hover,
.btnScan:hover,
.btnRes:hover,
.btnTeam:hover {
    background: #dfc25c;
    text-decoration: none;
}
.btnStart:active,
.btnScan:active,
.btnRes:active,
.btnTeam:active {
    width: 290px;
    box-shadow: none;
}

/*TASK page*/
.questions-container {
    font-size: 50px;
    font-weight: bold;
}
.questions-container div {
    cursor: pointer;
    width: 294px;
    height: 75px;
    margin: 2px;
    text-align: center;
}
.questions-container div:hover, 
.popup .popup-close:hover {
    background: #ffdd67;
    text-decoration: none;
}
.questions-container div:active,
.popup .popup-close:active {
    background: #dfc25c;
}
.container .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    margin-left: -150px;
    margin-top: -200px;
    padding: 10px;
    display: none;
}
.questions-container div, 
.container .popup {
    background-color: rgba(91, 200, 220, 0.5);
    border-radius: 20px;
    border: 1px solid #fff;
}
.container .popup.hidden {
    display: none;
}
.popup .popup-close {
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;

    background-color: rgba(91, 200, 220);
    font-weight: bold;
    font-style: normal; 
    border-radius: 50%;
    padding: .3em .65em;
    border: 1px solid #fff;
}
.task-korpus {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.task-text {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.btnScan {
    width: 110px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.btnScan div {
    font-size: 34px;
}
.btnScan:active {
    width: 106px;
}
.questions-container .disabled:hover, 
.questions-container .disabled:active {
    background-color: rgba(255, 255, 255, 0.3);
}
.questions-container .disabled {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.5);
    cursor: auto;
}

/*check-result*/
.check-result {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.inputRes,
.inputTeam {
    color: black;
    font-style: normal;
}
.btnRes {
    margin-left: 10px;
    width: 44px;
    height: 28px;
    background: #ffdd67;
    border-radius: 30px;
    box-shadow: 0.15em 0.15em 0.3em rgba(0, 0, 0, 0.35);
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}
.btnRes:active {
    width: 44px;
}
.mistake {
    font-size: 17px;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
    display: none;
}
.taskPopupQR {
    display: none;
}
#canvas {
    width: 100%;
}

/*REGISTRATION page*/
.addTeam {
    display: flex;
}
.btnTeam {
    width: 35px;
    height: 35px;
    background: #ffdd67;
    border-radius: 10px;
    box-shadow: 0.15em 0.15em 0.3em rgba(0, 0, 0, 0.35);
    cursor: pointer;
    margin-right: 5px;
    font-weight: bold;
    font-style: normal;
    font-size: 23px;
    text-align: center; 
}
.btnTeam:active {
    width: 35px;
}
.teamsList {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.team {
    cursor: pointer;
}
.inputTeam {
    display: none;
}

@media (max-width: 768px) {
    /*START PAGE*/
    .welcomeToIQuest .welcome {
        font-size: 55px;
    }
    .welcomeToIQuest .to {
        font-size: 40px;
    }
    .welcomeToIQuest .iQuest {
        font-size: 79px;
    }
    .welcomeToIQuest .emoFingers {
        font-size: 79px;
    }
    .btnStart {
        width: 264px;
    }
    .btnStart:active {
        width: 260px;
    }
    
    /*TASKS PAGE*/
    .questions-container,
    .questions-container div, 
    .container .popup {
        width: 100%;
    }
    .questions-container div {
        height: 110px;
        line-height: 120px;
        font-size: 60px;
    }
    .container .popup {
        position: relative;
        top: unset;
        left: unset;
        margin: 25px;
    }
    .popup .popup-close {
        font-size: 30px;
        top: -25px;
        right: -25px;
    }
    .questions-container div:hover, 
    .popup .popup-close:hover {
        background-color: rgba(91, 200, 220, 0.5);
    }
    .questions-container div:active,
    .popup .popup-close:active {
        background: #dfc25c;
    }
    .task-korpus {
        font-size: 35px;
    }
    .task-text {
        font-size: 25px;
    }
    .mistake {
        margin-top: 20px;
    }
}