@font-face {
    font-family: "emodjiOne color";
    src: url("/fonts/EmojiOneColor.otf");
}

body {
    background: #5bc8dc;
    background-image: url(../images/lamp.png);
    background-repeat: no-repeat;
    background-position: center;

    color: #fff;
    font-family: "Century Gothic";
    font-style: italic;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*START page*/
.welcomeToIQuest {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding-top: 60px;
    padding-bottom: 75px;
    cursor: default;
}
.welcomeToIQuest .welcome {
    font-size: 69px;
}
.welcomeToIQuest .to {
    font-size: 54px;
}
.welcomeToIQuest .iQuest {
    font-weight: bold;
    font-size: 93px;
}
.welcomeToIQuest .emoFingers {
    font-family: "emodjiOne color";
    font-style: normal;
    font-size: 93px;
}

.btnStart {
    width: 294px;
    height: 90px;
    background: #ffdd67;
    border-radius: 30px;
    box-shadow: 0.15em 0.15em 0.3em rgba(0, 0, 0, 0.35);
    cursor: pointer;
    display: block;
}
.btnStart div {
    font-family: "emodjiOne color";
    font-style: normal;
    font-size: 60px;
    text-align: center;
    line-height: 1.5;
    color: #fff;
}
.btnStart:hover {
    background: #dfc25c;
    text-decoration: none;
}
.btnStart:active {
    width: 290px;
    box-shadow: none;
}

/*TASK page*/
.questions-container {
    font-size: 40px;
    font-style: normal;
}
.questions-container div {
    cursor: pointer;
    width: 294px;
    height: 75px;
    background-color: rgba(91, 200, 220, 0.5);
    border-radius: 20px;
    border: 1px solid #fff;
    text-align: center;
    margin: 2px;
}
.questions-container div:hover {
    background: #ffdd67;
    text-decoration: none;
}
.questions-container div:active {
    background: #dfc25c;
}