@font-face {
    font-family: "emodjiOne color";
    src: url("/fonts/EmojiOneColor.otf");
}
body {
    background: #5bc8dc; /* Цвет фона */
    color: #fff; /* Цвет текста */
    font-family: "Century Gothic";
    font-style: italic;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcomeToIQuest .welcome {
    font-size: 23px;
}
.welcomeToIQuest .to {
    font-size: 18px;
}
.welcomeToIQuest .iQuest {
    font-weight: bold;
    font-size: 31px;
}
.welcomeToIQuest .emoFingers {
    font-family: "emodjiOne color";
    font-style: normal;
    font-size: 31px;
}

.btnStart {
    width: 98px;
    height: 30px;
    background: #ffdd67;
    border-radius: 30px;
    box-shadow: 0.15em 0.15em 0.3em rgba(0, 0, 0, 0.35);
}
.btnStart div {
    font-family: "emodjiOne color";
    font-style: normal;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}
