@{
    ViewData["Title"] = "IQuest!";
}

<div class="container">

    <div class="addTeamContainer">

        <div class="addTeam">
            <div class="btnTeam" id="btnAddTeam">+</div>
            <input class="inputRes" id="inputTeam" type="text" placeholder="Team Name">
        </div>

        <ol class="teamsList">
        </ol>
    </div>

    <div class="popup">
        <div class="popup-close">X</div>
        <div class="teamQR"></div>
    </div>

</div>

@section scripts {
    <script src="/js/registration.js"></script>
    <script src="/lib/qrcode/qrcode.min.js"></script>
}