@{
    ViewData["Title"] = "IQuest!";
}

<div class="container">

    <button class="btnAddTeam">+</button>
    <input class="inputRes" id="inputRes" type="text">

    <div class="popup">
        <div class="popup-close">X</div>
        <div class="teamGuid"></div>
    </div>

    <div class="listTeams"></div>

</div>

@section scripts {
     <script src="/js/registration.js"></script>
}